# Ігнорування середовищних файлів
.env
key.env

# Ігнорування кеш-файлів Python
__pycache__/
*.py[cod]
*.pyo

# Ігнорування тимчасових файлів
temp/
*.log
*.bak
*.swp

# Ігнорування системних файлів
.DS_Store
.idea/
.vscode/

# Ігнорування файлів конфігурації редакторів
*.sublime-project
*.sublime-workspace

# Ігнорування інших тимчасових папок і файлів
static/.DS_Store
