streamlit
python-dotenv
googletrans==4.0.0-rc1
transformers
torch
openai
fitz
bs4
python-docx
tqdm
beautifulsoup4
deep-translator
sentencepiece
pymupdf
altair==5.5.0
beautifulsoup4==4.12.3
frozenlist==1.5.0
huggingface-hub==0.27.1
numpy
pandas
pyarrow
regex
requests
six
sympy
tenacity
tornado
frontend
