body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f4e7; /* Фон */
    color: black; /* Текст чорного кольору */
}

.translator-interface {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1; /* Картинка на фоні */
}

.interface-elements {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

button {
    color: white !important; /* Білий текст */
    background-color: #007bff; /* Синій фон */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Темніший синій при наведенні */
}

button:hover {
    background-color: #45a049;
}
